@using Register_Login.Models
@model NewUser

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="~/css/Index.css">
    <title>Registration & Login</title>
</head>
<body>

<div class="container">

<partial name="SignUpPartial"/>

<partial name="LoginPartial"/>


</div>

</body>
</html>